* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

nav {
  background-color: gray;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  background-color: #a5a5a5;
}

.homepage {
  padding: 1rem 5rem;
  width: 100vw;
  height: 90vh;
}

.homepage .container1 {
  width: 100%;
  min-height: 55%;
  background-color: #ececec;
  border: none;
  border-radius: 20px;
  padding: 5rem;
  margin-bottom: 1rem;
}

.homepage .container1 h1 {
  font-size: 4rem;
}

.homepage .container1 p {
  font-size: 1.5rem;
}

.homepage .container1 button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #1100ff;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container1 button a {
  padding: 1rem 2rem;
  color: white;
}

.homepage .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 45%;
}

.homepage .container2 .leftsection {
  margin-right: 1rem;
  min-height: 100%;
  width: 100%;
  background-color: #3a3a3a;
  border: none;
  border-radius: 20px;
  padding: 5rem;
  color: white;
}

.homepage .container2 .leftsection button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #3a3a3a;
  border-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container2 .leftsection button a {
  padding: 0.5rem 2rem;
  color: white;
}

.homepage .container2 .rightsection {
  min-height: 100%;
  width: 100%;
  background-color: #b8b8b8;
  border: none;
  border-radius: 20px;
  padding: 5rem;
  color: black;
}

.homepage .container2 .rightsection button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #b8b8b8;
  border-color: black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container2 .rightsection button a {
  padding: 0.5rem 2rem;
  color: black;
}

@media screen and (max-width: 1000px) {
  .homepage {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 850px) {
  .container1 {
    padding: 1rem !important;
  }
  .container1 h1 {
    font-size: 3rem !important;
  }
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container2 .leftsection {
    padding: 1rem !important;
    margin-right: 0rem !important;
  }
  .container2 .rightsection {
    padding: 1rem !important;
    margin-top: 1rem;
    margin-left: 0rem !important;
  }
}
/*# sourceMappingURL=style.css.map */