* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

nav {
  background-color: gray;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  background-color: #a5a5a5;
}

.homepage {
  padding: 1rem 5rem;
  width: 100vw;
  height: 90vh;
}

.homepage .container1 {
  width: 100%;
  min-height: 55%;
  background-color: #ececec;
  border: none;
  border-radius: 20px;
  padding: 5rem;
  margin-bottom: 1rem;
}

.homepage .container1 h1 {
  font-size: 4rem;
}

.homepage .container1 p {
  font-size: 1.5rem;
}

.homepage .container1 button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #797979;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container1 button a {
  padding: 1rem 2rem;
  color: white;
}

.homepage .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 45%;
}

.homepage .container2 .leftsection {
  margin-right: 1rem;
  min-height: 100%;
  width: 100%;
  background-color: #3a3a3a;
  border: none;
  border-radius: 20px;
  padding: 5rem;
  color: white;
}

.homepage .container2 .leftsection button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #3a3a3a;
  border-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container2 .leftsection button a {
  padding: 0.5rem 2rem;
  color: white;
}

.homepage .container2 .rightsection {
  min-height: 100%;
  width: 100%;
  background-color: #b8b8b8;
  border: none;
  border-radius: 20px;
  padding: 5rem;
  color: black;
}

.homepage .container2 .rightsection button {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #b8b8b8;
  border-color: black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container2 .rightsection button a {
  padding: 0.5rem 2rem;
  color: black;
}

@media screen and (max-width: 1000px) {
  .homepage {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 850px) {
  .container1 {
    padding: 1rem !important;
  }
  .container1 h1 {
    font-size: 3rem !important;
  }
  .container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container2 .leftsection {
    padding: 1rem !important;
    margin-right: 0rem !important;
  }
  .container2 .rightsection {
    padding: 1rem !important;
    margin-top: 1rem;
    margin-left: 0rem !important;
  }
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 93.5vh;
}

.register button {
  font-size: 1.5rem;
  padding: 0.7rem 8.5rem;
  background-color: #afafaf;
  border: none;
  border-radius: 5px;
  color: white;
}

.register .leftsection {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  position: relative;
}

.register .leftsection .picture {
  background-image: url("../../public/pexels-linda-ellershein-3127880.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.register .leftsection .filter {
  position: absolute;
  background-color: gray;
  opacity: 45%;
  height: 100%;
  width: 100%;
  top: 0;
}

.register .rightsection {
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 800px;
          flex: 1 1 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .rightsection .title {
  width: 400px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .rightsection .title a {
  color: orange;
}

.register .rightsection .keyin .word {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.register .rightsection .keyin input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-color: #e7e7e7;
  border-radius: 3px;
}

.register .rightsection .keyin .role select {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
}

@media screen and (max-width: 1200px) {
  .leftsection {
    height: 0 !important;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 93.5vh;
}

.login button {
  font-size: 1.5rem;
  padding: 0.7rem 8.5rem;
  background-color: #afafaf;
  border: none;
  border-radius: 5px;
  color: white;
}

.login .leftsection {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  position: relative;
}

.login .leftsection .picture {
  background-image: url("../../public/loginPicture.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login .leftsection .filter {
  position: absolute;
  background-color: gray;
  opacity: 45%;
  height: 100%;
  width: 100%;
  top: 0;
}

.login .rightsection {
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 800px;
          flex: 1 1 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .rightsection .title {
  width: 400px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .rightsection .title a {
  color: orange;
}

.login .rightsection .keyin .word {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.login .rightsection .keyin input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-color: #e7e7e7;
  border-radius: 3px;
}

.login .rightsection .keyin .role select {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
}

@media screen and (max-width: 1200px) {
  .leftsection {
    height: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */